@media all and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'COCOGOOSE', sans-serif;
  }

  .home-footer  {
    display: none;
  }
  p {
    font-family: 'Lato', sans-serif;
  }

  .nav02 {
    top: 0;
    left: 0;
    right: 0;
  }

  .headline {
    background: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)), url('assets/images/christina-morillojpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  }

  .headline h1 {
    color: #ec5242;
    font-size: 40px;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .program-list {
    background-image: url(./assets/images/main-bg.png), linear-gradient(rgb(39, 42, 49), rgb(39, 42, 49));
    background-repeat: repeat;
    background-size: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
    border: solid;
    padding: 10px 10px 30px 10px;
  }

  .program-list h2 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links li {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-family: 'Lato', sans-serif;
    color: #ec5242;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links a {
    color: #ec5242;
    text-decoration: none;
  }

  .introt {
    padding: 1px;
    color: #272a31;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
  }

  .intro {
    padding: 10px;
    color: #272a31;
    border: 2px solid white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
  }

  hr {
    border: 1px solid #ec5242;
    width: 50px;
    margin-right: 47%;
  }

  .program-items {
    padding: 0 0 30px 0;
    gap: 20px;
  }

  .trainer-info img {
    width: 30%;
    height: 50%;
  }

  .trainer-info p {
    padding: 0;
    margin: 0;
  }

  .program-items li {
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
    min-height: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
  }

  .program-items li img {
    width: 15%;
  }

  .program-items li h4 {
    display: flex;
    align-items: center;
    margin: 0;
    width: 25%;
    text-align: left;
    color: #ec5242;
  }

  .program-items li p {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0;
    color: rgba(46, 40, 40, 0.9);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .program-list button {
    width: 80%;
    margin: 16px 10% 16px 10%;
    color: white;
    display: block;
    border: none;
    background: #ec5242;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .chess {
    background: url('assets/images/chess.jpg');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: 0 0;
    position: relative;
    z-index: 1;
  }

  .trainer-info {
    background-color: white;
    position: relative;
    top: -130px;
    left: 10px;
    z-index: 1000;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }

  .trainers button {
    margin: 0;
    font-size: 20px;
    width: 70%;
    height: 30px;
    margin-top: -40px;
  }

  .fa-bars {
    cursor: pointer;
  }

  .fa-times {
    cursor: pointer;
  }

  .trainer4,
  .trainer5,
  .trainer6,
  .trainer7,
  .trainer3 {
    display: none;
  }

  .nav01 {
    display: none;
  }
}

@media all and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'COCOGOOSE', sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #fff;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10%;
  }

  .nav02 {
    height: 70px;
  }

  .nav-links li {
    list-style-type: none;
  }

  .nav-links a {
    text-decoration: none;
    color: #272a31;
  }

  .desktop-bar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #272a31;
    width: 100%;
    padding: 0.5em 10% 0.5em;
    justify-content: flex-end;
    
  }

  .desktop-bar li {
    list-style-type: none;
    color: white !important;
  }

  .desktop-bar a {
    text-decoration: none;
    color: #fff;
  }

  .headline {
    background: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)), url('assets/images/christina-morillojpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px;
  }

  .headline h1 {
    color: #ec5242;
    font-size: 40px;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .greetings {
    color: #ec5242;
    line-height: 40px;
    font-weight: 100;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .intro {
    padding: 10px;
    color: #272a31;
    border: 2px solid white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
  }

  .introt {
    padding: 1px;
    color: #272a31;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .program-list {
    background-image: url(./assets/images/main-bg.png), linear-gradient(rgb(39, 42, 49), rgb(39, 42, 49));
    background-repeat: repeat;
    background-size: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-top: 40px;
    border: solid;
    padding: 3% 10% 5% 10%;
  }

  .program-list h2 {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
  }

  hr {
    border: 1px solid #ec5242;
    width: 50px;
  }

  .program-items {
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
  }

  .program-items li img {
    width: 100%;
  }

  .program-items li {
    display: flex;
    flex-direction: column;
    gap: 2em;
    list-style-type: none;
    min-height: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
  }

  .program-items li h4 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ec5242;
  }

  .program-items li p {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    line-height: 1em;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .program-list button {
    width: 80%;
    margin: 16px 10% 16px 10%;
    color: white;
    display: block;
    border: none;
    background: #ec5242;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
  }

  .chess {
    background: url('assets/images/chess.jpg');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: 0 0;
    position: relative;
    z-index: 1;
  }

  .trainer-info {
    background-color: white;
    position: relative;
    top: -130px;
    left: 10px;
    z-index: 1000;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }

  .trainers button {
    margin: 0;
    font-size: 20px;
    width: 70%;
    height: 30px;
    margin-top: -40px;
  }

  .trainer-info img {
    width: 200px;
    height: 200px;
  }

  .trainer1,
  .trainer2,
  .trainer3,
  .trainer4,
  .trainer5,
  .trainer6 {
    width: 40%;
  }

  .grid-trainers-mobile {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-between;
    padding: auto 50px auto 50px;
  }

  .top-logo {
    padding: 10px;
  }

  .fas {
    display: none;
  }

  .nav02 {
    padding: 0;
    margin: 0;
  }

  .more-tutors {
    display: none;
  }

  .tutors-title {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #272a31;
    font-family: 'COCOGOOSE', sans-serif;
    margin: 5% 0 5% 0;
  }

  .trainers hr {
    width: 150px;
    margin: -30px 0 70px 0;
  }

  .sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    width: 100%;
    height: 250px;
    background-color: #272a31;
    color: #d3d3d3;
    padding: 20px;
    background-image: url('assets/images/Web.io_free-file.png'), url('assets/images/Laptops_free-file.png'), url('assets/images/FLOWERS_free-file.png');
    background-repeat: no-repeat;
    background-position: 10% 50%, 50% 80%, 90% 100%;
    background-size: 200px;
  }

  .sponsors h4 {
    opacity: 0.5;
    padding: 10px;
  }

  .respect {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 150px;
    background-image: url('assets/images/web-logo.png');
    background-repeat: no-repeat;
    background-position: 10% 90%;
    background-color: white;
    background-size: 200px;
  }
}
