@media all and (max-width: 768px) {
  * {
    box-sizing: border-box;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'COCOGOOSE', sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  .nav02 {
    top: 0;
    left: 0;
    right: 0;
  }

  .headline {
    background: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)), url('assets/images/christina-morillojpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 20px;
  }

  .headline h1 {
    color: #ec5242;
    font-size: 40px;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .program-list {
    background-image: url(./assets/images/main-bg.png), linear-gradient(rgb(39, 42, 49), rgb(39, 42, 49));
    background-repeat: repeat;
    background-size: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
    border: solid;
    padding: 10px 10px 30px 10px;
  }

  .program-list h2 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .nav-links li {
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
    font-family: 'Lato', sans-serif;
    color: #ec5242;
    font-weight: bold;
    font-size: 20px;
  }

  .nav-links a {
    color: #ec5242;
    text-decoration: none;
  }

  .introt {
    padding: 1px;
    color: #272a31;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;
    font-family: 'Lato', sans-serif;
  }

  .intro {
    padding: 10px;
    color: #272a31;
    border: 2px solid white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
  }
  hr {
    border: 1px solid #ec5242;
    width: 50px;
    margin-right: 47%;
  }

  .program-items {
    padding: 0 0 30px 0;
    gap: 20px;
  }

  .trainer-info img {
    width: 30%;
    height: 50%;
  }

  .trainer-info p {
    padding: 0;
    margin: 0;
  }

  .program-items li {
    display: flex;
    flex-direction: row;
    gap: 2em;
    list-style-type: none;
    min-height: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
  }

  .program-items li img {
    width: 15%;
  }

  .program-items li h4 {
    display: flex;
    align-items: center;
    margin: 0;
    width: 25%;
    text-align: left;
    color: #ec5242;
  }

  .program-items li p {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0;
    color: rgba(46, 40, 40, 0.9);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }

  .program-list button {
    width: 80%;
    margin: 16px 10% 16px 10%;
    color: white;
    display: block;
    border: none;
    background: #ec5242;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }

  .trainers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-trainers {
    display: grid;
    grid-template-areas:
      'trainer1'
      'trainer2'
      'trainer3'
      'trainer4'
      'trainer5'
      'trainer6';
    width: 100%;
    height: 100px;
  }

  .chess {
    background: url('assets/images/chess.jpg');
    height: 150px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: 0 0;
    position: relative;
    z-index: 1;
  }

  .trainer-info {
    background-color: white;
    position: relative;
    top: -130px;
    left: 10px;
    z-index: 1000;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 10%;
  }

  .trainers button {
    margin: 0;
    font-size: 20px;
    width: 70%;
    height: 30px;
    margin-top: -40px;
  }

  .fa-bars {
    cursor: pointer;
  }

  .fa-times {
    cursor: pointer;
  }

  .trainer4,
  .trainer5,
  .trainer6,
  .trainer7,
  .trainer3 {
    display: none;
  }

  .nav01 {
    display: none;
  }
}

@media all and (min-width: 768px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 1px solid red;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'COCOGOOSE', sans-serif;
  }

  p {
    font-family: 'Lato', sans-serif;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #fff;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    align-items: center;
  }

  .nav-links li{
    list-style-type: none;
  }

  .nav-links a {
    text-decoration: none;
    color: #272a31;

  }

  .desktop-bar {
    display: flex;
    flex-direction: row;
    gap: 2em;
    background-color: #272a31;
    width: 100%;
    padding: 0.5em 0.5em 0.5em;
    justify-content: flex-end;
  }

  .desktop-bar li{
    list-style-type: none;
    color: white !important;
  }

  .desktop-bar a {
    text-decoration: none;
    color: #fff;
  }

  .headline {
    background: linear-gradient(rgba(211, 211, 211, 0.9), rgba(211, 211, 211, 0.9)), url('assets/images/christina-morillojpg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px
  }

  .headline h1 {
    color: #ec5242;
    font-size: 40px;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  }

  .greetings {
    color: #ec5242;
    line-height: 40px;
    font-weight: 100;
    padding: 10px;
    font-family: 'COCOGOOSE', sans-serif;
  
  }

  .intro {
    padding: 10px;
    color: #272a31;
    border: 2px solid white;
    font-size: 20px;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Lato', sans-serif;
  }

  .introt {
    padding: 1px;
    color: #272a31;
    line-height: 30px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 0;

  }

  .program-list {
    background-image: url(./assets/images/main-bg.png), linear-gradient(rgb(39, 42, 49), rgb(39, 42, 49));
    background-repeat: repeat;
    background-size: 30px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 40px;
    border: solid;
    padding: 10px 10px 30px 10px;
  }

  .program-list h2 {
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    color: #d3d3d3;
    font-family: 'Lato', sans-serif;
  }

  hr {
    border: 1px solid #ec5242;
    width: 50px;
    margin-right: 47%;
  }

  .program-items {
    padding: 0 0 30px 0;
    gap: 20px;
    display: flex;
    flex-direction: row;
  }

  .program-items li img {
    width: 100%;
  }

  .program-items li {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 15%
    list-style-type: none;
    min-height: 10%;
    background-color: rgba(255, 255, 255, 0.5);
    margin: 20px;
  }

  .program-items li h4 {
    display: flex;
    align-items: center;
    margin: 0;
    width: 25%;
    text-align: left;
    color: #ec5242;
  }

  .program-items li p {
    display: flex;
    align-items: center;
    width: 40%;
    margin: 0;
    color: rgba(46, 40, 40, 0.9);
    font-size: 14px;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
  }
  .program-list button {
    width: 80%;
    margin: 16px 10% 16px 10%;
    color: white;
    display: block;
    border: none;
    background: #ec5242;
    padding: 20px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
  }
}
